html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url('https://st4.depositphotos.com/6504442/38303/v/450/depositphotos_383035918-stock-illustration-dark-blue-vector-pattern-christmas.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}