.App {
  text-align: center;
  background-image: url('https://st4.depositphotos.com/6504442/38303/v/450/depositphotos_383035918-stock-illustration-dark-blue-vector-pattern-christmas.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

